body {
  background-color: #E5E0FF


}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 20%;




}
  img{
    height: 120px
  }
